@model IEnumerable<Artist>

<div>
    <a asp-action="New">Add an Artist</a>
</div>

@foreach (Artist artist in Model)
{
    <div>
        <a asp-action="Profile" asp-route-id="@artist.Id">@artist.Name</a>
    </div>
}