header nav {
    background-color: #fbc531;
}
#navContainer {
    align-items: baseline;
}

.searchBar {
    width: 100%;
    border: 0;
    border-radius: 30px;
    padding-left: 10px;
    outline: none;
}
.listofthings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.release{
    width: 50%;
    max-width: 170px;
}
.release,
.monthlyTopReviews .userReview {
    padding: 0 8px 8px;
}
@media screen and (min-width: 480px) {
    .release {
        width: 33%;
    }
}
@media screen and (min-width: 768px) {
    .release {
        width: 25%;
    }
}
.monthlyTopReviews{
    width:100%;
}
.review {
    width: 100%;
}
.releaseImage{
    background-color: red;
    height: 150px;
    border:1px solid grey;
}
@media screen and (max-width: 340px) {
    .releaseImage {
        height: 120px;
    }
}
.releaseImage a {
    display:block;
    height: 100%;
}
.releaseDetails a{
    display:block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.releaseDetails a:first-child{
    font-weight: 700;
}
.ratingBar{
    height: 4px;
    width: 35px;
    border:1px solid black;
}
.ratingBar div{
    height: 100%;
}
pre{
    white-space: pre-wrap;
}
.entryTitle {
    border-bottom: 3px solid black;
    padding: 0 5px 5px 0;   
    overflow-wrap: break-word;
}
.entryReleaseType {
    font-size: 1.2rem;
    margin-bottom: 6px;
    overflow-wrap: break-word;
}
.entryArtist {
    color: #4791e3;
    font-weight:500;
}
.entryInformation{
    display:flex;
    flex-direction:column
}
@media screen and (min-width: 768px) {
    .entryInformation {
        flex-direction:row;
    }
}

.entryImage {
    height: 280px;
    min-width: 300px;
    max-width:300px;
    margin: 8px auto;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25)
}
@media screen and (min-width: 480px){
    .entryImage{
        height: 326px;
        min-width: 350px;
        max-width: 350px;
    }
}
@media screen and (min-width: 768px) {
    .entryImage {
        margin: 8px;
    }
}
@media screen and (min-width: 1024px){
    .entryImage {
        height: 373px;
        min-width: 400px;
        max-width: 400px;
    }
}
.entryMeta {
    display: flex;
    flex-direction: column;
    font-size:1.5rem;
}
.entryMeta div{
    margin-bottom:4px;
}

@media screen and (min-width: 768px) {
    .entryMeta {
        margin: 8px 0;
        padding-left: 10px;
    }
}

#releaseRating {
    font-size: 1.5rem;
}

.entryVoting {
    margin-top: 10px;
}

#rating {
    padding: .375rem .75rem;
    vertical-align: middle;
}
.entryUserContent{
    display:flex;
    flex-direction:column;
}
@media screen and (min-width: 1024px) {

    .entryUserContent {
        flex-direction: row;
    }
     .entryReviews{
         width:66%;
    }
     .entryComments{
         width:33%;
         margin-left:10px;
     }
}
.reviewForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.reviewForm textarea {
    height: 120px;
}

.reviewForm input {
    font-size: 1.3rem;
    font-weight: 500;
    height: 40px;
}

.releaseReview {
border-bottom: 1px solid #dee2e6;
padding-bottom: 5px;
}

.releaseReview h3 {
    font-size: 1.3rem;
}

.entryReviews h2, .entryComments h2 {
border-bottom: 1px solid black;
padding-bottom: 4px;
}

.releaseReviewMeta, .releaseCommentMeta {
display: flex;
flex-direction: row;
background-color: #1b6ec2;
font-weight: 500;
color: white;
align-items: baseline;
}

.releaseReviewMeta a, .releaseCommentMeta a {
    color: white;
    font-size: 1.2rem;
}

.releaseReviewMeta {
justify-content: space-around;
}

.releaseCommentMeta {
justify-content: space-between;
}

.releaseCommentMeta span {
    padding: 0 4px;
}

.commentList {
background: #ebebeb;
max-height: 450px;
overflow: scroll;
border: 1px solid black;
}
@media screen and (min-width: 1024px) {
    .commentList{
        max-height:800px;
    }
}
.commentList p {
    padding: 0 0.2rem 1rem;
    margin-bottom: 0;
}

.entryComments form {
    display: flex;
    flex-direction: column
}

.entryComments textarea {
    height: 80px
}

.reviewList .releaseImage{
    min-width:130px;
    height:130px;
    align-self:center;
}
.reviewList .meta{
    display:flex;
    margin-bottom:8px;
}

.reviewList .meta h1{
    font-size: 1.5rem;
}
.reviewList .meta h2, .reviewList .meta h3 {
    font-size: 1.15rem;
}
.reviewList .meta div{
    margin-left:8px;
}
.ArtistProfile h2{
    border-bottom: 1px solid black;
}
.releaseTable {
    width: 100%;
}
.releaseTable {
    font-size:0.8rem;
}
@media screen and (min-width: 425px) {
    .releaseTable {
        font-size:1rem;
    }
}
.tableIcon{
    width:10%;
}
.tableName{
    width:40%;
}
.tableName div{
    display:flex;
    flex-direction: column;
}
.tableReviewNo, tableRatingNo, .tableRatingAvg{
    width:15%;
}
.tableIcon div {
    width: 30px;
    height: 30px;
}
.tableIcon a {
    display:block;
    height:100%;
    width:100%;
}
@media screen and (min-width: 768px) {
    .tableIcon div {
        width: 40px;
        height: 40px;
    }
}
.releaseTableRow>td{
    padding-bottom:14px;
}
.topAlbum{
    display:flex;
    padding-top:8px;
    padding-bottom:8px;
}
.topAlbum .releaseImage{
    min-width:130px;
    height: 130px;
    align-self:center;
}
.topAlbum h1{
    font-size:1.3rem;
}
.topAlbum h2{
    font-size: 1.1rem;
}
.topAlbum .meta {
    margin-left: 8px;
    width: 80%;
    align-self:center;
}
.topAlbum .metaGenres{
    width:95%;
}
.topAlbum .metaRatings{
    display:flex;
    flex-direction: row;
    text-align:center;
}
.topAlbum .metaRatings div{
    display:flex;
    flex-direction: column;
    margin-right:8px;
}
.topAlbum .metaRatings strong{
    border-bottom: 1px dotted;
    font-weight: 500;
    margin-bottom: 1px;
}

.profileDetails{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.1rem;
    border-bottom:2px solid black;
    padding-bottom: 4px;
    margin-bottom:12px;
}
.profileDetails span:first-child{
    font-weight:500;
}
.userBiography {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    margin-bottom: 12px;
    font-size:1.2rem;
}
.userRating,
.reviewDetails {
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    font-weight: 500;
}
@media screen and (min-width: 480px) {
    .userRating,
    .reviewDetails {
        font-size: 1rem;
    }
    .userRating .rating {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .userRating,
    .reviewDetails {
        font-size: 1.1rem;
    }
    .userRating .rating {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .userRating,
    .reviewDetails {
        font-size: 1.1rem;
    }
    .userRating .rating {
        font-size: 1.2rem;
    }
}
.reviewDetails a{
    color:black;
}
.userRating .releaseImage,
.reviewDetails .releaseImage {
    width: 100px;
    height: 100px;
    margin: 0 5px 5px 0
}
@media screen and (min-width: 480px) {
    .userRating .releaseImage,
    .reviewDetails .releaseImage {
        width: 120px;
        height: 120px;
        margin: 0 5px 5px 0
    }
}

@media screen and (min-width: 768px) {
    .userRating .releaseImage,
    .reviewDetails .releaseImage {
        width: 140px;
        height: 140px;
        margin: 0 5px 5px 0
    }
}

.userRating .releaseDetails,
.reviewDetails .releaseDetails {
    display: flex;
    flex-direction: column;
}
.userRating .rating{
    font-size:1rem;
}
.userMore a{
    width: 100%;
    margin-bottom: 8px;
}
.userReview{
    width:100%;
    border-bottom:1px solid grey;
    margin-bottom: 8px;
}
.userReview p{
    margin-bottom: 2px;
}
.UserNumberOfContent{
   font-size:1.2rem;
   margin-bottom:8px;
   display:block;
}
.UserNumberOfContent a{
    font-size:1.25rem;
    font-weight:500;
}
