@model MusicRaterUser
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.UserName</h1>

<div>
    @foreach (ReleaseRating rating in Model.ReleaseRatings)
    {
        <h2>Rating of @rating.Release.Title by @rating.Release.Artist.Name</h2>
        <p>@rating.Rating / 10</p>
    }
</div>